# This is a basic workflow to help you get started with Actions

name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Install NRF52 tool from adafruit for NRF52 platform
      run:
        pip install --upgrade adafruit-nrfutil
    - name: Make ustd lib files available for tests
      run:
        cp -v ${{github.workspace}}/*.h ${{github.workspace}}/Examples/platformio/include
    - name: Run PlatformIO
      run:
        pio run -d ${{github.workspace}}/Examples/platformio
